:root {
  --bg-color: #28282b;
  --primary-color: #f8f0e3;
  --accent-color: yellow;
  /* --accent-color: var(--accent-color); */
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background: var(--bg-color);
  color: var(--primary-color);
}
body {
  position: relative;
}

section {
  display: block;
  background: var(--bg-color);
  height: auto;
  min-height: 100%;
  width: 100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing: border-box;
  font-size: 200%;
}
a {
  color: var(--accent-color);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}

p {
  color: var(--primary-color);
  opacity: 0.5;
}
.name {
  font-size: 400%;
  color: var(--primary-color);
}
.bigfs {
  font-size: 200%;
}

.accent_text {
  /* color:#00CDD0; */
  /* color:#FF5E00; */
  color: var(--accent-color);
  opacity: 0.8;
}

.content {
  text-align: justify;
  text-justify: newspaper;
}

/* Nav Bar */
.navbar-brand {
  color: var(--primary-color);
}

.navbar-nav .nav-link {
  color: var(--primary-color);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-color);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-nav .nav-link.active {
  color: var(--accent-color);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
/* Overlay */
#Overlay {
  position: absolute;
}

/* About */
.sm_pic {
  display: none;
}
.profile_pic_col {
  position: relative;
}
/* .profile_pic {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  opacity: 1;
  width: auto;
  height: 80%;
  transition: all 0.3s ease-in-out;
}

.profile_pic:hover {
  opacity: 0;
  transition: all 0.3s ease-in-out;
} */
.profile-img {
  opacity: 1;
  width: 90%;
  height: auto;
  -webkit-filter: grayscale(50%) hue-rotate(40deg);
  -moz-filter: grayscale(50%) hue-rotate(40deg);
  -ms-filter: grayscale(50%) hue-rotate(40deg);
  -o-filter: grayscale(50%) hue-rotate(40deg);
  filter: grayscale(50%) hue-rotate(40deg);
  /* -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -moz-transition: 1s filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  transition: 1s filter linear, 1s -webkit-filter linear;  */
}

/* .profile-img:hover {
  -webkit-filter: grayscale(0%) hue-rotate(0deg);
  -moz-filter: grayscale(0%) hue-rotate(0deg);
  -ms-filter: grayscale(0%) hue-rotate(0deg);
  -o-filter: grayscale(0%) hue-rotate(0deg);
  filter: grayscale(0%) hue-rotate(0deg);
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -moz-transition: 1s filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  transition: 1s filter linear, 1s -webkit-filter linear;
  
} */

.resume-btn {
  padding: 10px 20px;
  margin: 20px 0%;
  color: var(--accent-color);
  background-color: var(--bg-color);
  opacity: 50%;
  text-align: center;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
}

.resume-btn:before {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: calc(2px / -1);
  left: calc(2px / -1);
  color: var(--accent-color);
  background: linear-gradient(
      to right,
      var(--accent-color) 0%,
      var(--accent-color) 100%
    ),
    linear-gradient(to top, var(--accent-color) 50%, transparent 50%),
    linear-gradient(to top, var(--accent-color) 50%, transparent 50%),
    linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 100%),
    linear-gradient(to left, var(--accent-color) 0%, var(--accent-color) 100%);
  background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
  background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out,
    background-size 0.3s ease-in-out;
  transform: scaleX(0) rotate(0deg);
  transition-delay: 0.6s, 0.3s, 0s;
  opacity: 100%;
}

.resume-btn:hover:before {
  color: var(--accent-color);
  background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
  background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform: scaleX(1) rotate(0deg);
  transition-delay: 0s, 0.3s, 0.6s;
  opacity: 100%;
}

.resume-btn:hover {
  color: var(--accent-color);
  background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
  background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform: scaleX(1) rotate(0deg);
  transition-delay: 0s, 0.3s, 0.6s;
  opacity: 100%;
}

/* Skills */
/* .progress {
  width: 100%;
}
.progress-bar {
  background-color: var(--accent-color);
  color: var(--bg-color);
} */
.logo-block {
  border-radius: 3rem;
  /* border: 5px solid var(--primary-color); */
  margin: 10px 5px;
}

.logo {
  aspect-ratio: 1;
  height: 5em;
}

.logo > img {
  width: auto;
  height: 100%;
}

#Skills .logo img {
  padding: 10px;
}
#Skills .nav-link {
  margin: 0px 2px;
  color: var(--primary-color);
  opacity: 0.5;
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out;
}

#Skills .nav-link:hover {
  color: var(--primary-color);
  border: none;
  transform: scaleX(1) rotate(0deg);
  transition-delay: 0s, 0.3s, 0.6s;
  opacity: 100%;
}

#Skills .navbar-dark .nav-link.active,
#Skills .nav-link.active {
  opacity: 1;
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-width: 4px;
  border-style: none none solid none;
  transition: all 0.3s ease-in-out;
}

/* Experience  */
#Experience .accordion-item,
#Experience .accordion-item .accordion-button,
#Experience .accordion-item .accordion-button:focus,
#Experience .accordion-item .accordion-button:focus-visible {
  background-color: var(--bg-color);
  border: none;
  box-shadow: none;
}

#Experience .accordion-button::after,
#Experience .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='yellow'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

#Experience .vertical-bar {
  height: 25px;
  border-left: 2px solid var(--accent-color);
  padding-left: 10px;
}

#Experience .ex-nav-link {
  /* padding: 0.05rem 0.375rem; */
  /* border-radius: 0.375rem; */
  /* text-decoration: none; */
  font-size: 24px;
  padding: 10px 20px;
  margin: 20px 0%;
  color: var(--accent-color);
  background-color: var(--bg-color);
  opacity: 50%;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  border: none;
  box-shadow: none;
}

#Experience .ex-nav-link:before {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: calc(2px / -1);
  left: calc(2px / -1);
  color: var(--accent-color);
  background: linear-gradient(
      to right,
      var(--accent-color) 0%,
      var(--accent-color) 100%
    ),
    linear-gradient(to top, var(--accent-color) 50%, transparent 50%),
    linear-gradient(to top, var(--accent-color) 50%, transparent 50%),
    linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 100%),
    linear-gradient(to left, var(--accent-color) 0%, var(--accent-color) 100%);
  background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
  background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out,
    background-size 0.3s ease-in-out;
  transform: scaleX(0) rotate(0deg);
  transition-delay: 0.6s, 0.3s, 0s;
  opacity: 100%;
}

#Experience .ex-nav-link:hover:before,
#Experience .ex-nav-link:focus:before {
  color: var(--accent-color);
  background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
  background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform: scaleX(1) rotate(0deg);
  transition-delay: 0s, 0.3s, 0.6s;
  opacity: 100%;
}

#Experience .ex-nav-link:hover,
#Experience .ex-nav-link:focus {
  color: var(--accent-color);
  background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
  background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform: scaleX(1) rotate(0deg);
  transition-delay: 0s, 0.3s, 0.6s;
  opacity: 100%;
}
#Experience .ex-nav-link:active {
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-width: 2px;
  border-style: none none solid none;
}
#Experience .ex-nav-link.active {
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-width: 2px;
  border-style: none none solid none;
}

#Experience .ex-nav-link .duration {
  font-family: "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;
}

/* Projects */
#Projects {
  padding-top: 100px;
  padding-bottom: 10px;
  height: auto;
}

.project-heading * {
  color: var(--primary-color);
  opacity: 1;
}
.project-heading i {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}
.project-heading:hover * {
  color: var(--primary-color);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}

.project-heading a {
  font-weight: 1000;
}
.project-content {
  padding-bottom: 50px;
}
.project-content video {
  width: 100%;
  height: auto;
}

.project-content:last-child video {
  width: 70%;
  height: auto;
}

.project-detail span {
  color: var(--primary-color);
  opacity: 0.5;
}

/* Contact */
#Contact {
  padding: 0px 0%;
}

#say-hello-btn {
  padding: 10px 20px;
  margin: 20px 0%;
  color: var(--primary-color);
  background-color: var(--bg-color);
  opacity: 0.5;
  /* text-decoration: none; */
  text-align: center;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#say-hello-btn:hover {
  color: var(--accent-color);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

#contact-tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

#contact-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#say-hello-btn:hover #contact-tooltip {
  font-size: medium;
  visibility: visible;
  opacity: 1;
}

#Socials a {
  font-size: 56px;
  color: var(--primary-color);
  padding: 0 10px;
}
#Socials a:hover {
  color: var(--accent-color);
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 100%;
  }
  section {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 100%;
    padding: 0px 5px;
  }
  section {
    padding: 100px 5px;
    margin: 0px !important;
  }

  /* About */
  .sm_pic {
    display: flex;
  }
  .lg_pic {
    display: none;
  }

  /* Project */
  .project-content {
    padding-bottom: 20px;
  }
  .project-content video {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: auto;
  }
  .project-content:last-child video {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
  }
  /* Contact */
  #Contact {
    padding: 0px;
    margin: 0px;
  }
}
